doctype html
html
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(
            http-equiv="X-UA-Compatible"
            content="ie=edge"
        )
        //- link(rel="stylesheet", href="#{css.reset}")
        //- link(rel="stylesheet", href="#{css.main}")
        title GameNews
    body
        div(id="app")
            h1 游戏要闻
        //- script(src="#{js.vue}")
        //- script(src="#{js.main}")