doctype html
html
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        )
        meta(
            http-equiv="X-UA-Compatible"
            content="ie=edge"
        )
        script.
            //- 注入全局变量
            //- Thank you https://segmentfault.com/q/1010000010674249
            const GLOBAL_DATA = "#{GLOBAL_DATA}";
        link(rel="stylesheet", href=`${css.reset}`)
        link(rel="stylesheet", href=`${css.main}`)
    body
        div(id="app")
            h1(class="title") 游戏新闻
            ul(class="news")
                li(
                    v-for="n in news"
                    class="news-item"
                )
                    div
                        span(class="news-item-source") 来源 {{ n.source | cn }}
                        span(class="news-item-title") {{ n.title }}
                    div
                        span(
                            class="news-item-copy"
                            @click="handleCopyLink"
                        ) 拷贝链接
        script(src=`${js.vue}`)
        script(src=`${js.main}`)
        